<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
    Uri="__APPINSTALLER_URI__"
    Version="__VERSION__"
    xmlns="http://schemas.microsoft.com/appx/appinstaller/2018">
  <MainPackage
      Name="__IDENTITY__"
      Publisher="__PUBLISHER__"
      Version="__VERSION__"
      ProcessorArchitecture="__ARCH__"
      Uri="__PACKAGE_URI__" />
  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="6" ShowPrompt="true" UpdateBlocksActivation="false" />
    <AutomaticBackgroundTask />
    <ForceUpdateFromAnyVersion>false</ForceUpdateFromAnyVersion>
  </UpdateSettings>
</AppInstaller>
